VFPlaner/config/fest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Volksfest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Mitarbeiter" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="ID" minOccurs="0"/>
              <xs:element type="xs:string" name="Vorname" minOccurs="0"/>
              <xs:element type="xs:string" name="Nachname" minOccurs="0"/>
              <xs:element type="xs:string" name="Telefonnumer" minOccurs="0"/>
              <xs:element type="xs:byte" name="Tage" minOccurs="0"/>
              <xs:element type="xs:short" name="ErstesJahr" minOccurs="0"/>
              <xs:element type="xs:boolean" name="DiesesJahr" minOccurs="0"/>
              <xs:element type="xs:byte" name="Team" minOccurs="0"/>
              <xs:element type="xs:byte" name="AnzahlJahre" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>